.build-venv/
.pytest_cache/
.pytest_tmp*/
build/
dist/
*.py[cod]
__pycache__/
src/*.egg-info/
*.db
*.db-shm
*.db-wal
update/update-manifest.json
tests/fixtures/*.jpg
/刘纪林/
/吴万松/
/吴绘其/
/曹华斌/
/郭成喜/
/陈万智/
